@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FRB Programmers PlateForm</h1>
    <p style="color:red;" class="md-auto"> &trade;The rigins of what has become one of the most radical and encompassing programmes of Trade reform seen in the recent past in advanced countries</p>

    <img src="~/Images/img1.png" asp-append-version="true" height="300" width="600" alt="Alternate Text" />
</div>


